/node_modules
/vendor
/public/hot
/public/_nuxt
/public/storage
/storage/*.key
/resources/views/nuxt.blade.php
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.nuxt
*.lock
-lock.json
*.zip
.eslintcache
.gittoken
